
.create-new-malfunction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    gap: 5px;
}

.create-new-malfunction input {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    background-color: #E1F8FD;
    text-align: center;
}

.create-new-malfunction textarea {
    background-color: #E1F8FD;
    resize: none;
    font-size: 15px;
}

.create-new-malfunction textarea::placeholder{
    text-align: center;
}

@media (max-width: 1600px) {
    .create-new-malfunction input{
        font-size: 20px;
    }

    .create-new-malfunction textarea {
        max-width: 400px;
    }

    .create-new-malfunction select {
        font-size: 20px;
    }

    .create-new-malfunction button {
        font-size: 20px;
    }
}

@media (max-height: 1000px) {
    .create-new-malfunction textarea {
        max-height: 75px;
    }
}