@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Jura:wght@300;400;500;600;700&display=swap');


.workstation-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 10%;
}

.workstation-tile {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.workstation-link {
    font-family: 'Jura', sans-serif;
    font-size: 45px;
    border: 1px solid #000000;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: #E1F8FD;
}

@media (max-width: 1500px) {
    .workstation-link {
        font-size: 30px;
        height: 200px;
        width: 200px;
    }
}
