@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Jura:wght@300;400;500;600;700&display=swap');


.workstation-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    gap: 100px;
    margin: 0 10%;
}

.workstation-selector button {
    height: 300px;
    width: 300px;
    border: 1px solid #000;
    background: #E1F8FD;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: Jura, sans-serif;
}