.upload-form input::file-selector-button {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    background-color: #E1F8FD;
    padding: 5px;
}

.upload-form input {
    font-family: 'Jura', sans-serif;
}

.upload-form {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.picture-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 100px;
}

.show-picture img {
    max-width: 40%;
    border: 1px solid #000000;
}

@media (max-width: 1600px) {
    .upload-form input::file-selector-button {
        font-size: 20px;
    }

    .upload-form button {
        font-size: 20px;
    }
}