nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #000;
    background: #E1F8FD;
}

@media (max-width: 1500px) {
    nav {
        height: 50px;
    }
}

nav button {
    height: 80px;
    background-color: #E1F8FD;
    border-left: none;
    border-bottom: none;
    color: #000;
    font-family: Jura, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1500px) {
    nav button {
        font-size: 20px;
        height: 50px;
    }
}

.profile-picture {
    height: 70px;
}

@media (max-width: 1500px) {
    .profile-picture {
        height: 40px;
    }
}

.right-button-container {
    display: flex;
}

.create-button {
    border-left: 1px solid #000;
    border-right: none;
}

.logout-button {
    border-left: 1px solid #000000;
}

.profile-button {
    border-right: none;
}