@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Jura:wght@300;400;500;600;700&display=swap');

.workstation-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.workstation-menu button {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background: #E1F8FD;
    font-family: Jura, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

@media (max-width: 1600px) {
    .workstation-menu button {
        width: 200px;
        height: 200px;
        font-size: 30px;
    }
}

@media (max-width: 900px) {
    .workstation-menu button {
        width: 100px;
        height: 100px;
        font-size: 15px;
    }
}

.workstation-menu section {
    margin-top: 75px;
    font-size: 20px;
    border: 1px solid #000000;
    background-color: #E1F8FD;
    padding: 25px 270px;
}

@media (max-width: 1600px) {
    .workstation-menu section {
        padding: 20px 185px;
        font-size: 15px;
    }
}

@media (max-width: 900px) {
    .workstation-menu section {
        padding: 15px 65px;
    }
}

.button-container-workstation-overview {
    display: flex;
    gap: 100px;
}

@media (max-width: 900px) {
    .button-container-workstation-overview {
        gap: 50px
    }
}