
.create-new-account-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    gap: 30px
}

.create-new-account-form input, button {
    padding: 5px;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    background: #E1F8FD;
}

.create-new-account-form input::placeholder {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    text-align: center;
}

.authority-selector {
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    width: 340px;
}


.authority-selector option, select {
    text-align: center;
    background-color: #E1F8FD;
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    width: 340px;
}

@media (max-width: 900px) {
    .create-new-account-form input {
        font-size: 20px;
    }

    .create-new-account-form input::placeholder {
        font-size: 20px;
    }

    .create-new-account-form select {
        font-size: 20px;
        max-width: 70%;
    }

    .create-new-account-form button {
        font-size: 20px;
    }
}

@media (max-height: 800px) {
    .create-new-account-form {
        gap: 10px;
    }
    .create-new-account-form input {
        font-size: 20px;
    }

    .create-new-account-form input::placeholder {
        font-size: 20px;
    }

    .create-new-account-form select {
        font-size: 20px;
        max-width: 70%;
    }

    .create-new-account-form button {
        font-size: 20px;
    }
}

