
.table-container {
    height: 50vh
}

.first-table {
    height: 50%;
}

@media (max-width: 1600px) {
    .first-table {
        height: 40%;
    }
}

.first-table th {
    border-bottom: none;
}

.first-table td {
    border-top: none;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}

.green-button {
    padding: 10px 60px;
    background-color: #C7F2C0;
}

.orange-button {
    padding: 10px 40px;
    background-color: #FBD7A1;
}

.red-button {
    padding: 10px 60px;
    background-color: #F9AAAA;
}

@media (max-width: 1600px) {
    .green-button {
        font-size: 20px;
    }
    .orange-button {
        font-size: 20px;
    }
    .red-button {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .green-button {
        font-size: 15px;
        padding: 10px 40px;
    }
    .orange-button {
        font-size: 15px;
        padding: 10px 20px;
    }
    .red-button {
        font-size: 15px;
        padding: 10px 40px;
    }
}

