
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.table {
    border-collapse: collapse;
    font-size: 30px;
    max-width: 80%;
}

@media (max-width: 1600px) {
    .table {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .table {
        font-size: 15px;
    }
}

.table thead {
    background-color: #E1F8FD;
}

.table th {
    border: 3px solid #000000;
    padding: 5px 0;
    width: 0.1%;
    white-space: nowrap;
}

.table tbody {
    background-color: #E1F8FD;
}

.table td {
    border: 1px solid #000000;
    padding: 5px 0;
    width: 0.1%;
    white-space: nowrap;
}


